<h1>Games</h1>
<p><strong>Games count:</strong> {{ . | len }}</p>
{{ range . }}
<hr />
<dl>
    <dt>Name</dt>
    <dd>{{ .Name }}</dd>
    <dt>Image</dt>
    <dd><img src="{{ .Img }}" alt="Game image" width="400" height="300"></dd>
    <dt>Rating</dt>
    <dd>{{ .Rating }}</dd>
    <dt>Description</dt>
    <dd>{{ .Description }}</dd>
    <dt>Genres</dt>
    <dd>{{ .Genres }}</dd>
</dl>
{{ end }}
